ol,
ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.game-info {
  margin-left: 50px;
}

.game-info h2 {
  font-weight: 300;
  margin-top: 0;
}

.moves {
  padding: 0;
  margin: 10px 0;
  list-style: none;
}

.moves li {
  margin: 5px 0;
}

.move.active {
  background-color: #ebf376;
}
