ol,
ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.game-info {
  margin-left: 20px;
}

.game-board {
  position: relative;
}
